{% extends 'base.html' %}

{% block head_content %}

    <style>

        .editor {
            display: inline-flex;
            gap: 10px;
            font-family: monospace;
            line-height: 21px;
            background: #ffffff;
            border-radius: 2px;
            padding: 20px 10px;
            height: 200px;
            overflow-y: auto;
            border: solid 1px black;
        }

        .line-numbers {
            width: 20px;
            text-align: right;
            height: 9999px;
        }

        .line-numbers span {
            counter-increment:  linenumber;
        }

        .line-numbers span::before {
            content: counter(linenumber);
            display: block;
            color: #506882;
        }

        textarea {
        height: 9999px;
            line-height: 21px;
            overflow-y: hidden;
            padding: 0;
            border: black;
            background: #ffffff;
            color: #100f0f;
            min-width: 500px;
            outline: none;
            resize: none;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

    </style>

{% endblock %}

{% block content %}
    <h1 class="mt-2">Sql Standards</h1>
    <hr class="mt-0 mb-4">

    <button type="button" id="check_standards_btn"

    hx-get="/sql_standards_results"
    hx-trigger="click"
    hx-target="#check_standards_results_id"
    hx-swap="innerHTML">
        Validate
    </button>
    <div class="editor">
      <div class="line-numbers">
        <span></span>
      </div>
      <textarea id="textarea_id"></textarea>
    </div>
    <div id ="check_standards_results_id">
    <p>click validate to get results</p>
    </div>

 <script>
      const textarea = document.querySelector('textarea')
      const lineNumbers = document.querySelector('.line-numbers')

      textarea.addEventListener('keyup', event => {
        const numberOfLines = event.target.value.split('\n').length

        lineNumbers.innerHTML = Array(numberOfLines)
          .fill('<span></span>')
          .join('')
      })

      textarea.addEventListener('keydown', event => {
        if (event.key === 'Tab') {
          const start = textarea.selectionStart
          const end = textarea.selectionEnd

          textarea.value = textarea.value.substring(0, start) + '\t' + textarea.value.substring(end)
          textarea.focus()

          event.preventDefault()
        }
      })
    </script>


{% endblock %}