{% extends 'base.html' %}

{% block head_content %}

    <style>

        #editor {
            width: 620px;
            height: 80vh;
            position: fixed;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 12px;
        }
        th, td {
            padding: 10px;
        }
        th {
            background-color: #0e2238;
            color: white
        }
        table td:nth-child(1) {
            text-align: center;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

    </style>

    <script>
    function get_sql() {
        var editor = ace.edit("editor");
        return editor.getValue();
    }

    </script>

{% endblock %}

{% block content %}
    <h1 class="mt-2">SQL Standards</h1>
    <div style="margin-top: 20px"></div>

    <button class="btn btn-primary"
            style="background-color: #0e2238; border: none; margin-left: 310px"
            type="button"
            id="check_standards_btn"
        hx-get="/sql_standards_results"
        hx-vals='js:{sql: get_sql()}'
        hx-trigger="click"
        hx-target="#check_standards_results_id"
        hx-swap="innerHTML">
        Validate
    </button>
    <div style="margin-top: 5px"></div>

<div class="grid-container">
    <div class="grid-child">
        <div id="editor">
        </div>
    </div>
    <div class="grid-child">
        <div id ="check_standards_results_id" style="margin-left: 300px">
        </div>
    </div>
</div>

<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/sql");
</script>

{% endblock %}